@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	list-style:none;
}

body{
	background-color:#6FC;
}

#main{
	/*ackground-color:#FFF;*/
	margin-left:500px;
	margin-right:auto;
	padding:50px;
}

#indexp{
	margin-left:auto;
	margin-bottom:10px;
	margin-right:auto;
}

#indexform{
	margin-left:50px;
	margin-right:auto;
}
